/* --- style.css --- */

/* 1. Main Background */
.stApp {
}

/* 2. The Main Header */
.main-header {
    text-align: center; 
    color: #ff4b4b; 
    font-weight: bold; 
    margin-bottom: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* 3. Text Input Box */
.stTextInput > div > div > input {
    color: black;
    border-radius: 10px;
    border: 1px solid gray;
}

/* 4. The Buttons */
.stButton > button {
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    transition: all 0.3s ease;
    width: 100%;
}

/* 5. Button Hover Effect */
.stButton > button:hover {
    background-color: #ff1c1c;
    color: white;
    transform: scale(1.05);
}
/* 6. Link Buttons (Download MP3) */
.stLinkButton > a {
    background-color: #28a745; /* Green color to indicate a successful download */
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    text-decoration: none; 
    text-align: center;
    transition: all 0.3s ease;
}

/* Hover effect for the link button */
.stLinkButton > a:hover {
    background-color: #218838;
    color: white;
    transform: scale(1.05);
}

#root > div > div > div > div > div > header{
    display:none;
}
#root > div:nth-child(1) > div > div > button{
    display: none;
}

#you-tube-lunjir-downloader{
    font-size: 20px;
}

#root > div > div > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-1w723zb.e15ve43o4{
    padding-top: 6px;
}
#root > div > div > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-1w723zb.e15ve43o4 > div > div:nth-child(2) > div > div > div > p{
    display: flex;
    flex-direction: row-reverse;
    border-radius: 6px;
}

#root > div > div > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-1w723zb.e15ve43o4 > div > div:nth-child(2) > div > div > div > p > button{
    background-color: pink;
    border:none;
    padding: 2px 8px
    height:22px;
    border-radius: 7px;
}

#root > div > div > div > div > div > section > div.stMainBlockContainer.block-container.st-emotion-cache-1w723zb.e15ve43o4 > div > div.stElementContainer.element-container.st-emotion-cache-zh2fnc.elzidro1{
    width: 100%
}
